$pink: #EE4266;
$yellow: #FFD23F;
$white: #F3FCF0;
$black: #1F271B;
$purple: #a328c5;
$baseMargin: 1.25rem;
$baseFontSize: 14px;

$backgroundColor: $black;
$baseFontColor: $white;
$headerColor: $purple;
$linkColor: $purple;
$h1Size: $baseFontSize * 2.5;
